.product-image.details-page {
  max-width: 80%;
  /* flex: 50%; */
  height: 80vh;
  border-radius: 1rem;
  margin: 1rem;
}

.product-details {
  color: #2cb8cb;
  margin-top: 5rem;
}

.product-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-and-short-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  display: flex;
}

.button.tertiary-btn {
  color: #2cb8cb;
}

.product-category,
.product-stock,
.product-offer {
  color: white;
  font-size: 1rem;
}

.about-the-item {
  color: white;
  justify-self: flex-start;
}

.about-the-item > ul > li {
  margin: 1rem;
}

.button.primary-btn.in-cart {
  align-self: center;
  border: 3px solid #2cb8cb;
  color: #2cb8cb;
  background-color: transparent;
}
