.products-listing {
  display: flex;
  margin-top: 5%;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.sort-and-filter-container {
  flex: 20%;
  max-width: 100%;
}

.products-container {
  flex: 80%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-name {
  color: white;
  font-size: 2.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.product-price {
  color: #db5581;
  font-size: 1.3rem;
  font-weight: 900;
}
