.products-listing.cart {
  display: flex;
  margin-top: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.button.primary-btn.checkout {
  width: 10%;
}

.total-price {
  margin-top: 5rem;
  text-align: center;
  color: #2cb8cb;
}
