.button.primary-btn.add-to-cart {
  background-color: #2cb8cbfa;
  align-self: center;
  width: 90%;
}

.button.primary-btn.go-to-cart {
  color: #2cb8cb;
  background-color: transparent;
  align-self: center;
  width: 90%;
  border: 3px solid #2cb8cb;
}

.product-image {
  height: 50vh;
}

.fas.fa-heart.wishlist {
  color: #2cb8cb4d;
  position: absolute;
  top: 19rem;
  right: 1rem;
  cursor: pointer;
}

.offer {
  font-size: 0.8rem;
  font-weight: 900;
  width: 40px;
  height: 40px;
}

.card-demo {
  flex: 25%;
  max-width: 30%;
}

.product-name-with-wishlist-icon {
  flex-grow: 1;
  margin-right: 2.7rem;
  align-items: flex-start;
}

.product-name {
  color: white;
}

.product {
  cursor: pointer;
}
